<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SSTWorkbench</string>
	<key>CFBundleDisplayName</key>
	<string>SSTWorkbench</string>
	<key>CFBundleIdentifier</key>
	<string>gov.sandia.SSTWorkbench</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>sstw</string>
	<key>CFBundleExecutable</key>
	<string>SSTWorkbench</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2009-2015 Sandia Corporation.  All Rights Reserved</string>
	<key>CFBundleGetInfoString</key>
	<string>Version 1.0.0, © 2009-2015 Sandia Corporation</string>
	<key>CFBundleIconFile</key>
	<string>SSTWorkbench.icns</string>
</dict>
</plist>
